<h1>Training System</h1>

<a asp-action="Index" asp-controller="Session" class="btn btn-outline-secondary">Go To Sessions</a>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
